/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  text-align: center;
  background: #ffffff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding-top: 108px;
  padding-bottom: 108px;
}

.section-title {
  position: relative;
  margin: 0 0 60px 0;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
}

.section-title::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 4px;
  transform: translateX(-50%);
  background: #fed136;
}

/* Navigation */
.logo {
  font-family: "Playball", cursive;
  color: #fed136;
  font-size: 30px;
}

.navigation {
  padding: 12px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  word-spacing: 20px;
}

.navigation ul {
  padding: 37px 0 0 0;
  margin: 0;
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  margin-right: 70px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://i.postimg.cc/sxpftGPy/Background-Image.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  color: #ffffff;
  font-size: 60px;
  position: relative;
  margin: 10px 0 0 0;
  font-family: "Playball", cursive;
}

.page-subtitle {
  color: #ffffff;
  font-size: 85px;
  margin-top: -20px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

/* Services */
.title-big {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 800;
  color: #333333;
  margin: 0;
}

.subtitle {
  font-family: "Playball", cursive;
  font-size: 20px;
  color: #737373;
  margin: 0;
  padding-bottom: 60px;
}

.subtitle-two {
  font-family: "Roboto Slab", serif;
  color: #737373;
  font-size: 12px;
  margin: 0;
  padding-bottom: 10px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333333;
}

/* Portfolio */
.portfolio {
  background-color: #f7f7f7;
}

.card-body {
  text-align: center;
}

.card {
  background-color: #ffffff;
}
.card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

h5 {
  margin: 0;
}

/* Footer */
.page-footer {
  position: relative;
  margin: 0;
  background: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  color: #737373;
  font-family: "Roboto Slab", serif;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFTQSxXQUFBO0FBRUE7RUFDQyxzQkFBQTtBQ1REOztBRFlBO0VBQ0ksV0FBQTtFQUNBLGtCQUFBO0VBQ0EsbUJBZlU7RUFnQlYsY0FBQTtFQUNBLGVBQUE7RUFDQSxnQkFBQTtFQUNBLGlDQWZRO0FDTVo7O0FEWUE7RUFDSSxpQkFBQTtFQUNBLGNBQUE7RUFDQSxlQUFBO0FDVEo7O0FEWUE7RUFDSSxrQkFBQTtFQUNBLHFCQUFBO0FDVEo7O0FEWUE7RUFDSSxrQkFBQTtFQUNBLGtCQUFBO0VBQ0EsZUFBQTtFQUNBLHFDQW5DTztBQzBCWDs7QURZQTtFQUNJLGtCQUFBO0VBQ0EsV0FBQTtFQUNBLGFBQUE7RUFDQSxTQUFBO0VBQ0EsV0FBQTtFQUNBLFdBQUE7RUFDQSwyQkFBQTtFQUNBLG1CQW5EUztBQzBDYjs7QURZQSxlQUFBO0FBQ0E7RUFDSSxnQ0FsRFE7RUFtRFIsY0F6RFM7RUEwRFQsZUFBQTtBQ1RKOztBRFlBO0VBQ0ksZUFBQTtFQUNBLHFDQTFETztFQTJEUCxnQkFBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtBQ1RKOztBRFlBO0VBQ0ksbUJBQUE7RUFDQSxTQUFBO0VBQ0EscUJBQUE7QUNUSjs7QURZQTtFQUNJLHFCQUFBO0VBQ0Esa0JBQUE7QUNUSjs7QURZQTtFQUNJLHFCQUFBO0VBQ0EsY0EvRVU7RUFnRlYscUNBOUVPO0FDcUVYOztBRFlBLFdBQUE7QUFFQTtFQUNJLGFBQUE7RUFDQSxrQkFBQTtFQUNBLDJFQUFBO0VBQ0Esa0NBQUE7RUFDQSxzQkFBQTtFQUNBLDRCQUFBO0FDVko7O0FEYUE7RUFDSSxrQkFBQTtFQUNBLFdBQUE7RUFDQSxRQUFBO0VBQ0EsU0FBQTtFQUNBLGdDQUFBO0FDVko7O0FEY0E7RUFDSSxjQXhHVTtFQXlHVixlQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTtFQUNBLGdDQXpHUTtBQzhGWjs7QURjQTtFQUNJLGNBaEhVO0VBaUhWLGVBQUE7RUFDQSxpQkFBQTtFQUNBLGdCQUFBO0VBQ0EscUNBbEhPO0VBbUhQLGdCQUFBO0FDWEo7O0FEY0EsYUFBQTtBQUVBO0VBQ0kscUNBekhPO0VBMEhQLGVBQUE7RUFDQSxnQkFBQTtFQUNBLGNBL0hTO0VBZ0lULFNBQUE7QUNaSjs7QURlQTtFQUNJLGdDQWhJUTtFQWlJUixlQUFBO0VBQ0EsY0F2SVU7RUF3SVYsU0FBQTtFQUNBLG9CQUFBO0FDWko7O0FEZUE7RUFDSSxpQ0F2SVE7RUF3SVIsY0E5SVU7RUErSVYsZUFBQTtFQUNBLFNBQUE7RUFDQSxvQkFBQTtBQ1pKOztBRGdCQTtFQUNJLHFDQWxKTztFQW1KUCxlQUFBO0VBQ0EsY0F2SlM7QUMwSWI7O0FEZ0JBLGNBQUE7QUFFQTtFQUNJLHlCQUFBO0FDZEo7O0FEaUJBO0VBQ0ksa0JBQUE7QUNkSjs7QURpQkE7RUFDSSx5QkFwS1U7QUNzSmQ7QURlSTtFQUNJLFdBQUE7RUFDQSxhQUFBO0VBQ0Esb0JBQUE7S0FBQSxpQkFBQTtBQ2JSOztBRGlCQTtFQUNJLFNBQUE7QUNkSjs7QURxQkEsV0FBQTtBQUVBO0VBQ0ksa0JBQUE7RUFDQSxTQUFBO0VBQ0EsbUJBekxVO0VBMExWLGdCQUFBO0VBQ0EsbUJBQUE7RUFDQSxjQUFBO0VBQ0EsY0EvTFU7RUFnTVYsaUNBMUxRO0FDdUtaIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */