/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  text-align: center;
  background: #737373;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding-top: 108px;
  padding-bottom: 108px;
}

.section-title {
  position: relative;
  margin: 0 0 60px 0;
  font-size: 36px;
  font-family: "Playfair Display", sans-serif;
}

.section-title::after {
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 4px;
  transform: translateX(-50%);
  background: #fed136;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://i.postimg.cc/sxpftGPy/Background-Image.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  color: #ffffff;
  font-size: 60px;
  position: relative;
  margin: 10px 0 0 0;
  font-family: "Playball", cursive;
}

.page-subtitle {
  color: #ffffff;
  font-size: 85px;
  margin-top: -20px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

/* Footer */
.page-footer {
  position: relative;
  margin: 0;
  background: #fed136;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  color: #737373;
  font-family: "Roboto Slab", serif;
}
