$color-main: #fed136;;
$color-light: #737373;
$color-dark: #333333;
$color-white: #ffffff;

$font-nav: 'Montserrat', sans-serif;
$font-hand: 'Playball', cursive;
$font-text: 'Roboto Slab', serif;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0px;
    text-align: center;
    background: $color-white;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text
}
    
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
    
section {
    padding-top: 108px;
    padding-bottom: 108px;
}

.section-title {
    position: relative;
    margin: 0 0 60px 0;
    font-size: 36px;
    font-family: $font-nav;
}
    
.section-title::after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 4px;
    transform: translateX(-50%);
    background: $color-main;
}

/* Navigation */
.logo {
    font-family: $font-hand;
    color: $color-main;
    font-size: 30px;
}

.navigation {
    padding: 12px 0;
    font-family: $font-nav;
    font-weight: 400;
    font-size: 15px;
    word-spacing: 20px;
}

.navigation ul {
    padding: 37px 0 0 0 ;
    margin: 0;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin-right: 70px;
}

.navigation a {
    text-decoration: none;
    color: $color-white;
    font-family: $font-nav;
}

/* Splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: url("https://i.postimg.cc/sxpftGPy/Background-Image.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
    
.splash-inner {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

    
.page-title {
    color: $color-white;
    font-size: 60px;
    position: relative;
    margin: 10px 0 0 0;
    font-family: $font-hand;
}

.page-subtitle {
    color: $color-white;
    font-size: 85px;
    margin-top: -20px;
    font-weight: 100;
    font-family: $font-nav;
    font-weight: 800;
}
  
/* Services */

.title-big {
    font-family: $font-nav;
    font-size: 45px;
    font-weight: 800;
    color: $color-dark;
    margin: 0;
}

.subtitle {
    font-family: $font-hand;
    font-size: 20px;
    color: $color-light;
    margin: 0;
    padding-bottom: 60px;
}

.subtitle-two {
    font-family: $font-text;
    color: $color-light;
    font-size: 12px;
    margin: 0;
    padding-bottom: 10px;
    
}

.title {
    font-family: $font-nav;
    font-size: 15px;
    color: $color-dark
}


/* Portfolio */

.portfolio {
    background-color: #f7f7f7;
}

.card-body {
    text-align: center;
}

.card {
    background-color: $color-white;
    img {
        width: 100%; 
        height: 300px;
        object-fit: cover;
    }
}

h5 {
    margin: 0;
}


.btn {
    background-color: $color-dark;
    border-radius: 50%;
}

/* footer */

.footer{
    padding: 0;
    justify-content: center;
}

.footer li {
    font-size: 0;
    padding: 5px;
}

li i{
    font-size: 30px;   
}

.footer i{
    font-size: 30px;
    background: $color-dark; 
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: $color-white;
}

i{
    border-radius: 50%;
}

.footer ul{
    display:flex;
    justify-content:center;
    text-align: center;
    padding: 0;
}

.copyright {
    z-index: 1;
}






